
	ul.tabs-two li {
		padding: 0;
		margin: 0 0 0 0px;
		min-height: 45px;
		line-height: 45px;
 		border-left: none;
		margin-bottom: -1px;
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid #ddd;
 	}
	ul.tabs-two li a {
		text-decoration: none;
		color: #454545;
		display: block;
		font-size: 12px;
		text-transform: uppercase;
 		outline: none;
 		cursor: pointer;
		text-align: left;
		padding: 0px 15px 0px 15px;
		background-color: #eee;
		width: 90px;
		font-style: normal;
		border-bottom: 1px solid #fff;
		font-family: 'Open Sans' !important;
		font-weight: 600;
	}
	ul.tabs-two li a:hover {
 	}
 	
	html ul.tabs-two li.active, html ul.tabs-two li.active a,  html ul.tabs-two li.active a:hover  { 
		color:#ff7b29;
		background-color: #fff;
		height: 44px;
 	}


#tabs-two.fullpage {
	padding:0px;
	float:left;
	clear:both;
	width: 100%;
}
ul.tabs-two.fullpage {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	min-height: 45px;
 	width: 10%;
	background: #eee;
}
.tab-container-two.fullpage {
 	overflow: hidden;
	float: left; 
	padding: 30px;
	width: 83.9%;
	background-color: #fff;
	border-bottom: 3px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
}

ul.tabs-two.fullpage li a {
	text-decoration: none;
	color: #727272;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
 	outline: none;
 	cursor: pointer;
	text-align: left;
	padding: 0px 10px 0px 10px;
	background-color: #eee;
	width: 85px;
	border-bottom: 1px solid #fff;
}


@media only screen and (min-width: 1000px){}
@media only screen and (min-width: 768px) and (max-width: 999px){


#tabs-two.fullpage {
	padding:0px;
	float:left;
	clear:both;
	width: 100%;
}
ul.tabs-two.fullpage {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	min-height: 45px;
 	width: 14%;
	background: #eee;
}
.tab-container-two.fullpage {
 	overflow: hidden;
	float: left; 
	padding: 30px;
	width: 77%;
	background-color: #fff;
	border-bottom: 3px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
}



}


@media only screen and (min-width: 480px) and (max-width: 767px){

#tabs-two.fullpage {
	padding:0px;
	float:left;
	clear:both;
	width: 100%;
}
ul.tabs-two.fullpage {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	min-height: 45px;
 	width: 22%;
	background: #eee;
}
.tab-container-two.fullpage {
 	overflow: hidden;
	float: left; 
	padding: 30px;
	width: 63%;
	background-color: #fff;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-top: 1px solid #eee;
}

ul.tabs-two.fullpage li a {
	text-decoration: none;
	color: #727272;
	display: block;
	font-size: 11px;
	text-transform: uppercase;
 	outline: none;
 	cursor: pointer;
	text-align: left;
	padding: 0px 10px 0px 10px;
	background-color: #eee;
	width: 85px;
	border-bottom: 1px solid #fff;
}


}





@media only screen and (max-width: 479px){

#tabs-two.fullpage {
	padding:0px;
	float:left;
	clear:both;
	width: 100%;
}
ul.tabs-two.fullpage {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	min-height: 45px;
 	width: 25%;
	background: #eee;
}
.tab-container-two.fullpage {
 	overflow: hidden;
	float: left; 
	padding: 10px 20px 10px 10px;
	width:63%;
	background-color: #fff;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-top: 1px solid #eee;
}

ul.tabs-two.fullpage li a {
	text-decoration: none;
	color: #727272;
	display: block;
	font-size: 10px;
	text-transform: uppercase;
 	outline: none;
 	cursor: pointer;
	text-align: left;
	padding: 0px 10px 0px 10px;
	background-color: #eee;
	width: 85px;
	border-bottom: 1px solid #fff;
}


}

